*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-image: url(../img/6837.jpg);
    background-size: cover;
}

.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

#message{
    border: 1px solid #000;
    border-radius: 100px;
    background-color: #00000044;
    padding: 20px;
}